.App {
  height: 100vh;
  transition: 0.5s ease-in-out;
}

.dark-theme {
  background-color: var(--primary-dark);
  color: var(--secondary);
}

.light-theme {
  background-color: var(--primary);
  color: var(--secondary);
}

.container {
  height: 100%;
  transition: 0.5s ease-in-out;
  border-top-left-radius: var(--scale-2);
  border-top-right-radius: var(--scale-2);
  padding: var(--scale-4) var(--scale-4) var(--scale-1);
}

.dark-theme > .container {
  background-color: var(--dark-background);
}

.light-theme > .container {
  background-color: var(--light-background);
  color: var(--primary);
}

.position-center {
  left: 10%;
  right: 10%;
  position: absolute;
}

/* position utils */

.top-10 {
  top: 10%;
}

.top-30 {
  top: 30%;
}
