.App {
  height: 100vh;
  color: var(--text-secondary);
  background-color: var(--text-primary);
  transition: 0.5s ease-in-out;
}

.container {
  height: 100%;
  top: 30%;
  border-top-left-radius: var(--scale-2);
  border-top-right-radius: var(--scale-2);
  padding: var(--scale-4) var(--scale-4) var(--scale-1);
}

.dark-theme > .container {
  background-color: var(--dark-background);
}

.light-theme > .container {
  background-color: var(--light-background);
  color: var(--text-primary);
}

.position-center {
  left: 10%;
  right: 10%;
  position: absolute;
}
