@import url("./utils.css");

.App {
  height: 100vh;
  transition: 0.5s ease-in-out;
}

.dark-theme {
  background-color: var(--primary-dark);
  color: var(--secondary);
}

.light-theme {
  background-color: var(--primary);
  color: var(--secondary);
}

.dark-theme > .container {
  background-color: var(--dark-background);
}

.light-theme > .container {
  background-color: var(--light-background);
  color: var(--primary);
}



