:root {
  --light-background: #dfd7cb;
  --dark-background: #313131;

  --text-primary: #ab0404;
  --text-secondary: #e8d393;
  --white: #fff;
  --black: #212121;
}

html {
  font-size: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Lato", sans-serif;
}

.cursor {
  cursor: pointer;
}
