.w-100 {
  width: 100%;
}

.container {
  height: 100%;
  transition: 0.5s ease-in-out;
  border-top-left-radius: var(--scale-2);
  border-top-right-radius: var(--scale-2);
  padding: var(--scale-4) var(--scale-4) var(--scale-1);
}

.position-center {
  left: 10%;
  right: 10%;
  position: absolute;
}

/* position utils */

.top-10 {
  top: 10%;
}

.top-30 {
  top: 30%;
}
